.header {
  display: flex;
  justify-content: center;

  height: 100px;
  width: 100vw;

  margin-bottom: 32px;

  color: white;
  background-color: #333333;
}

.content {
  display: grid;
  justify-items: center;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;

  width: 66vw;

  margin: auto;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 300px;
  height: 300px;

  padding: 16px;

  box-sizing: border-box;

  text-overflow: ellipsis;

  background-color: rgb(202, 202, 202);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100px;
  width: 100vw;

  margin-top: 32px;

  color: black;
  background-color: #DDDDDD;
}

@media (max-width: 1000px) {
  .content {
    display: flex;
    flex-wrap: wrap;
  }

}